:root {
  --button-gradient: linear-gradient(45deg, rgb(255, 63, 58), rgb(247, 94, 5) 100%);
  --grey-900: #1E212C;
}

html,
body {
  font-family: "Lato", sans-serif;
  background-color: var(--grey-900);
  color: #c7bebe;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 700;
  height: 100px;
  background: linear-gradient(45deg, rgba(255, 63, 58, .2), rgba(247, 94, 5, .2) 100%);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo img{
  height: 60px;
  width: 60px;
}

.car__top {
  display: flex;
  align-items: center;
  
  margin-top: 20px;
}

.car__top-right {
  margin-left: 40px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

#car__image img {
  width: 400px;
  
}

#car__image  {
  display: inline-block;
}

.car__title {
  display: inline-block;
}

.car__specification{
  border-collapse: collapse;

  border: 1px solid grey;
  width: 350px;
}

.car__specification th, .car__specification td {
  border: 1px solid grey;
}

.car__specification th {
  text-align: left;
}

.car__specification td {
  text-align: center;
}


nav ul {
  padding:0;
  margin:0;
  list-style: none;
  position: relative;
  }




nav ul li {
  margin: 0px -7px 0 0;
  display:inline-block;
  background-color: rgb(64, 31, 11);
  transition: 0.8s;
  
}

nav ul li:hover {
  background-color: #000000;
}

li {
  background-color: rgba(64, 31, 11, 0);
}


nav a {
  display:block;
  padding:0 10px;
  color:#FFF;
  font-size:20px;
  line-height: 60px;
  text-decoration:none;
}


nav ul ul {
  position: absolute;
  top: 100%;
  transition: max-height 1s; 
  overflow: hidden;
  max-height: 0px;
  /* min-width: max-content;
  /* width: 170px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s; */
}


nav ul li:hover > ul {
  display:inherit;
  max-height: 200px;
  /* max-height: 200px; */
}


nav ul ul li {
  min-width:170px;
  position: relative;
}

.answer-form {
  display: block;
  border-radius: 5px;
  border-width: 2px;
  border-color: #FFF;
  border-style: solid;
  padding: 5px 20px 15px 20px;
}

form input{
  height: 30px;
  border-radius: 5px;
  transition: 0.5s;
}

form input:focus {
  box-shadow: #FFF 5px;
}

button {
  height: 50px;
  width: 100px;
  background: linear-gradient(45deg, rgba(255, 63, 58, .2), rgba(247, 94, 5, .2) 100%);
  border-radius: 10px;
  border-color: transparent;
  transition: 0.3s;
  color:  #c7bebe;
}
button:hover {
  transform: scale(1.05);
}
