@charset "UTF-8";
:root {
  --button-gradient: linear-gradient(45deg, rgb(255, 63, 58), rgb(247, 94, 5) 100%);
  --grey-900: #1E212C;
}

html,
body {
  font-family: "Lato", sans-serif;
  background-color: var(--grey-900);
  color: #c7bebe;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  font-weight: 700;
  height: 100px;
  background: linear-gradient(45deg, rgba(255, 63, 58, 0.2), rgba(247, 94, 5, 0.2) 100%);
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.header__logo img {
  height: 60px;
  width: 60px;
}

.car__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.car__top-right {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#car__image img {
  width: 400px;
}

#car__image {
  display: inline-block;
}

.car__title {
  display: inline-block;
}

.car__specification {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid grey;
  width: 350px;
}

.car__specification th, .car__specification td {
  border: 1px solid grey;
}

.car__specification th {
  text-align: left;
}

.car__specification td {
  text-align: center;
}

/* убираем отступы и поля, а также list-style для "ul", 
 * и добавляем "position:relative" */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
  margin: 0px -7px 0 0;
  display: inline-block;
  background-color: rgb(64, 31, 11);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
nav ul li:hover {
  background-color: #000000;
}

li {
  background-color: rgba(64, 31, 11, 0);
}

/* стилизуем ссылки */
nav a {
  display: block;
  padding: 0 10px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
  display: inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
  min-width: 170px;
  float: none;
  display: list-item;
  position: relative;
}